.vertSpace {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.horSpace {
    margin-left: 2rem;
    margin-right: 2rem;
}

.navLinks {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

.links {
    text-decoration: none;
    color: #9d9c9c;
    font-style: italic;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.smallCenter {
    margin: auto;
}

#loginButton {
    margin-left: 4rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

select {
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.5rem;
    border: 0.1rem solid #CBCBCB;
    padding: 0 1rem;

    &:hover {
        outline: 1px solid black;
    }
}

.error {
    border-color: red;
    outline: red;
}

.error_msg {
    color: red;
    margin: 0.2rem 0;
    font-weight: 400;
}

.labelText {
    font-size: 18px !important;
    margin-right: 1rem;
    font-weight: 300 !important;
}